/*body, html
{
    margin: 0;
    padding: 0;
    height: 100%;
}
*/
.container {
  display: flex;
  justify-content: center;    
  align-items: center;    
  padding-top: 60px;          
}

.img {
  width: 100px; 
  height: auto;
}